<section class="card-projeto">

  <h2>💰 FinanceOrganization Mark I</h2>

  <p>
    Aplicativo de controle financeiro pessoal desenvolvido em Flutter.
  </p>

  <p>
    Permite cadastrar usuário, acompanhar receitas, despesas,
    despesas previstas, histórico mensal e visualizar saldo
    financeiro em tempo real.
  </p>

  <div class="techs">
    <span>Flutter</span>
    <span>Dart</span>
    <span>SharedPreferences</span>
  </div>

  <div class="acoes">
    <a
      href="https://github.com/malveiracaiodev/FinanceOrganization/releases/download/FinanceOrganization/FinanceOrganization.apk"
      class="btn"
      target="_blank"
      rel="noopener noreferrer">
      📱 Baixar APK
    </a>

    <a
      href="https://github.com/malveiracaiodev/FinanceOrganization"
      class="btn"
      target="_blank"
      rel="noopener noreferrer">
      💻 Código Fonte
    </a>
  </div>

</section>
