.btn{
  display:inline-block;

  padding:12px 22px;

  border-radius:10px;

  text-decoration:none;

  font-weight:bold;

  transition:.3s;
}

.btn-primary{
  background:
  linear-gradient(
    135deg,
    #6ee7ff,
    #8ef7ff
  );

  color:#001018;
}

.btn:hover{
  transform:translateY(-3px);

  box-shadow:
  0 0 18px rgba(142,247,255,.35);
}